/*general*/

body {
  background-color: #edf6f9;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-top: 55px;
}

/*Header*/

header {
  background-color: #edf6f9;
  height: 60px;
  width: 100vw;
  display: grid;
  grid-template-columns: 7fr 0.8fr;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: #006d77 2px solid;
}

div.logo img {
  height: 2rem;
  margin: 15px 15px 0px 25px;
}

div.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div.contacts p {
  display: flex;
  margin: 20px 10px;
}

header a {
  text-decoration: none;
  color: black;
}

div.contacts span {
  display: flex;
  gap: 1rem;
  margin: 18px 10px;
}

div.contacts span img {
  width: 1.4rem;
}

/*home*/

main {
}

/*Portfolio*/

main#portfoliopage {
  width: 95%;
  margin: 10px auto;
}

main#portfoliopage section {
  background-color: bisque;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  gap: 20px;
  margin: 10px 50px;
  overflow-x: auto;
}

main#portfoliopage section span {
  background-color: #006d77;
  height: 18rem;
  width: 22rem;
}

/*Bio*/

main#bio {
  /*display: grid;
  grid-template-columns: 4fr 4fr;*/
  gap: 3%;
  width: 80%;
  margin: 10px auto;
}

main#bio img#profile {
  width: 90%;
  margin: auto 5%;
  border-radius: 5%;
}

main#bio div.hello {
  margin: 14% 0;
}

main#bio section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

main#bio section img {
  width: 8%;
  margin: 0 10px;
}
