/*general*/

body {
  background-color: #edf6f9;
  font-family: "Como", Arial, Helvetica, sans-serif;
}

main {
  padding-top: 55px;
}

/*Header*/
header {
  background-color: #edf6f9;
  height: 60px;
  width: 100vw;
  display: grid;
  grid-template-columns: 7fr 0.8fr;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: #006d77 2px solid;
}

div.logo img {
  height: 2rem;
  margin: 15px 15px 0px 25px;
}

div.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div.contacts p {
  display: flex;
  margin: 20px 10px;
}

header a {
  text-decoration: none;
  color: black;
}

div.contacts span {
  display: flex;
  gap: 1rem;
  margin: 18px 10px;
}

div.contacts span img {
  width: 1.4rem;
}

/*home*/

main#home {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main#home section {
  height: 100vh;
  width: 88%;
  padding-top: 55px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

main#home section.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;

  h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 2.5rem;
  }

  em {
    font-style: normal;
    color: #e29578;
  }

  button {
    background-color: #006d77;
    color: #edf6f9;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
    height: 60px;
    width: 200px;
  }
}

main#home section.about {
  justify-content: space-between;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }
}

main#home section.why {
  display: grid;
  grid-template-rows: 4rem auto;
  margin: auto;

  h1 {
    font-size: 4rem;
    padding-top: 275px;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  p {
    font-size: 2rem;
    width: 770px;
  }

  em {
    font-style: normal;
    color: #e29578;
  }
}

main#home section.closing {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;

  h3 {
    font-size: 2rem;
  }

  em {
    font-style: normal;
    color: #e29578;
  }

  button {
    background-color: #006d77;
    color: #edf6f9;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
    height: 60px;
    width: 200px;
    margin: 0 20px;
  }
}

/*Portfolio*/

main#portfoliopage {
  width: 95%;
  margin: 10px auto;
}

/*Bio*/

main#bio {
  display: grid;
  grid-template-columns: 4fr 4fr;
  gap: 3%;
  width: 80%;
  margin: 10px auto;
}

main#bio img#profile {
  width: 90%;
  margin: auto 5%;
  border-radius: 5%;
}

main#bio div.hello {
  margin: 14% 0;
}

main#bio section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

main#bio section img {
  width: 8%;
  margin: 0 10px;
}
